<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@levibrooke">
{% if page.title == 'Levi Porter' %}
<meta name="twitter:title" content="{{ site.name }}">
{% else %}
<meta name="twitter:title" content="{{ page.title }} &#124; {{ site.name }}">
{% endif %}
{% if page.excerpt != null %}
<meta name="twitter:description" content="{{ site.description }}">
{% else %}
<meta name="twitter:description" content="{{ page.excerpt }}">
{% endif %}
<meta name="twitter:image" content="{{ page.image }}">
<!--/ Twitter Card -->

<!-- Open Graph -->
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="website">
{% if page.title == 'Levi Porter' %}
<meta property="og:title" content="{{ site.name }}">
{% else %}
<meta property="og:title" content="{{ page.title }} &#124; {{ site.name }}">
{% endif %}
<meta property="og:url" content="{{ page.url }}">
{% if page.excerpt != null %}
<meta property="og:description" content="{{ site.description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt }}">
{% endif %}
<meta property="og:image" content="{{ page.image }}">
<!--/ Open Graph -->