<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% if page.url == '/' %}{{ site.title }}{% else %}{{ site.title }} | {{ page.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
        
        {% include meta.html %}

        <link rel="stylesheet" href="{{ "/assets/all.css" | prepend: site.baseurl }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ "/assets/all.js" | prepend: site.baseurl }}"></script>
        <!-- GoSquared script -->
        <script>
            !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
            arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
            d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
            insertBefore(d,q)}(window,document,'script','_gs');

            _gs('{{ site.gosquared }}');
        </script>
        <!-- Typekit Script -->
        <script>
            (function(d) {
            var config = {
              kitId: 'deh4cdb',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
    </head>

    {% if page.url == '/' %}
        {% assign page_handle = 'home' %}
    {% elsif page.url == '/about/' %}
        {% assign page_handle = 'about' %}
    {% elsif page.url == '/newsletter/' %}
        {% assign page_handle = 'newsletter' %}
    {% elsif page.url == '/contact/' %}
        {% assign page_handle = 'contact' %}
    {% elsif page.url == '/travel/' %}
        {% assign page_handle = 'travel' %}
    {% elsif page.url == '/thoughts/' %}
        {% assign page_handle = 'thoughts' %}
    {% elsif page.url contains '/tags/' %}
        {% assign page_handle = 'tag' %}
    {% elsif page.url contains '/archive/' %}
        {% assign page_handle = 'archive' %}
    {% elsif page.url contains '/travel/' or page.url contains '/thoughts/' %}
        {% assign page_handle = 'post' %}
    {% elsif page.is_404 %}
        {% assign page_handle = 'fourOhFour' %}
    {% else %}
        {% assign page_handle = 'page' %}
    {% endif %}
    <body class="{{ page_handle }} page-border">
        
        <div class="border-top"></div>

        {% if page_handle = 'contact' or 'newsletter' %}
            {{ content }}
        {% else %}
            <header class="featured-post">
                {% include header.html %}
                {% incldue featured-post.html %}
            </header>
            {{ content }}
        {% endif %}
        
        {% include footer.html %}
        
    </body>
    
</html>        
        