---
layout: default
---

    <section class="featured-post container">
        <div class="row">
            <article id="post-" class="sticky-post col-md-6">
                <header class="post-title col-md-12">
                    <h2>{{ page.title }}</h2>
                </header>
                <footer class="post-meta col-md-12">
                    <p>{{ page.tagline }}</p>
                </footer>
            </article>
            <aside class="email-signup col-md-4 col-md-offset-2">
                <p>Something about signing up for my newsletter because it will be awesome.</p>
                <form action="" method="post" class="signup-form">
                    <input type="email" name="Email" placeholder="Your Email..." id="">
                    <input type="hidden" name="location" id="location" value="home">
                    <div style="position:absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="" tabindex="">
                    </div>
                    <button type="submit" name="subsribe" id="">Sign Up</button>
                </form>
            </aside>
        </div>
    </section>
<!--    <style>.featured-header:before {background-image: url('<?php the_post_thumbnail_url(); ?>');}</style>-->
</header>
<main class="container" id="" role="main">
    <section class="row" id="">
        <div class="col-md-10 col-md-offset-1">
            {{ content }}
        </div>
    </section>
</main>
<section class="instagram">
    {% include instafeed.html %}
</section>
